:host{
    display: block;
    margin: 7vw;
    div{
        display: block;
        margin-top: 6vh;
        ion-button{
           margin-top: 2vh;
        }
    }

    .imgDiv{
        width: 100%;
        text-align: center;
    }
    .imgClass{
        width: auto;
        height: auto;
        max-width: 40%;
        max-height: 40%;
    }
    .SmallText{
        padding-top: 1vh;
    }


}