<div class="imgDiv">
  <img class="imgClass" src="assets/Images/Beezee_logo.png" />
</div>
<div class="BigText">
  <h1>PICK</h1>
  <h1>PAY &</h1>
  <h1>FLY AWAY.</h1>
</div>
<div class="SmallText">
  <p>Don't wait for your waiter. Just order, eat and pay, all by yourself</p>
</div>
<div>
  <ion-button shape="round" expand="block" color="primary">Sign up</ion-button>
  <ion-button shape="round" expand="block" color="secondary">Log In</ion-button>
  <ion-button shape="round" expand="block" color="primary">
    <ion-icon name="logo-facebook"></ion-icon>
    &nbsp; Connect with facebook
  </ion-button>
</div>
